/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(14, 45, 21) 50%, rgb(36, 166, 65) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.menu {
  display: flex;
  gap: 1rem;
}
.menu .menu-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #0a100d;
  padding: 10px;
  transition: box-shadow 0.3s, transform 0.3s;
}
.menu .menu-item:hover {
  box-shadow: 0 0 20px rgb(243, 241, 241);
  transform: translateY(-5px);
  color: #0a100d;
  background: #519e8a;
}

.logo-nav {
  width: 8rem;
  border-radius: 1rem;
  box-shadow: 0px 15px 25px #ffffff;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .logo-nav {
    text-align: center;
    margin-bottom: 2rem;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
  .menu-item {
    width: 100vh;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    transition: background 0.3s;
  }
  .menu-item:hover {
    background: #519e8a;
    color: #0a100d;
  }
}
main .section {
  background: rgb(38, 172, 69);
  background: linear-gradient(0deg, rgb(38, 172, 69) 0%, rgb(38, 172, 69) 50%, rgb(36, 166, 65) 100%);
  display: flex;
  padding: 2rem;
  gap: 2rem;
  align-items: flex-start;
}
@media (max-width: 1239px) {
  main .section {
    flex-direction: column;
  }
}
main .section .section-izq {
  order: 1;
  margin-right: 1rem;
}
main .section .section-der {
  order: 2;
  margin-left: auto;
  align-self: flex-start;
  margin-right: 1rem;
}
main .section .section-titulo {
  font-size: 2rem;
  margin-bottom: 4rem;
  margin-left: 8rem;
  padding: 2rem;
}
@media (max-width: 375px) {
  main .section .section-titulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 1rem;
  }
}
main .section .section-texto {
  max-width: 600px;
  background-color: rgba(29, 39, 46, 0.32);
  border: 2px solid #0a100d;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0 15px 20px rgb(0, 0, 0);
  text-align: left;
  margin-top: 1rem;
  margin-left: 8rem;
  font-size: 1.2rem;
}
@media (max-width: 375px) {
  main .section .section-texto {
    max-width: 300px;
    padding: 1rem;
    font-size: 1rem;
    margin: auto;
  }
}
main .section .section-boton {
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 8rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  box-shadow: 0 15px 25px rgb(0, 0, 0);
  animation: zoomIn 0.3s ease-out;
}
main .section .section-boton:hover {
  transform: scale(1.1);
  transition: 5s;
}
main .section .section-img {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  box-shadow: 0 15px 25px rgb(0, 0, 0);
  animation: animate__bounceInDown;
  animation-duration: 8s;
}
@media (max-width: 803px) {
  main .section .section-img {
    width: 100%;
  }
}
main .continer-pri {
  background: rgb(38, 172, 69);
  background: linear-gradient(0deg, rgb(38, 172, 69) 0%, rgb(38, 172, 69) 50%, rgb(36, 166, 65) 100%);
  text-align: center;
  padding: 4rem;
}
main .continer-pri .carrusel-p {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .continer-pri #carouselExampleCaptions {
  width: 40rem;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 15px 25px rgb(0, 0, 0);
}
main .continer-pri #carouselExampleCaptions .carousel-item img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .continer-pri #carouselExampleCaptions .carousel-caption > h5, main .continer-pri #carouselExampleCaptions .carousel-caption > p {
  color: black;
  background-color: rgba(78, 77, 77, 0.486);
}

/* ---------------------------Imagenes Grid ------------------------------------------*/
.main-product {
  background: rgb(38, 172, 69);
  background: linear-gradient(0deg, rgb(38, 172, 69) 0%, rgb(38, 172, 69) 50%, rgb(36, 166, 65) 100%);
  display: flex;
  justify-content: center;
  padding: 1%;
  justify-items: center;
}
.main-product .grid {
  height: 200vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 6rem;
  padding: 5rem;
  margin: 2rem;
  grid-template-areas: "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8" "foto9 foto10 foto11 foto12" "foto13 foto14 foto15 foto16";
}
.main-product .grid .grid-hijo {
  background-color: #d9d3d5;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center center;
  justify-content: center;
  border: 3px solid #0a100d;
  box-shadow: 0 7px 8px 0px rgb(0, 0, 0);
}
.main-product .grid .grid-hijo:hover {
  transform: scale(1.1);
  transition: 3s;
}
@media (max-width: 1500px) {
  .main-product .grid {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 1200px) {
  .main-product .grid {
    height: 120vh;
    display: grid;
    gap: 3rem;
    padding: 2.5rem;
    margin: 1rem;
  }
}
@media (max-width: 1050px) {
  .main-product .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9" "foto10 foto11 foto12" "foto13 foto14 foto15" "foto16";
  }
}

/* Cards de productos */
section {
  background: rgb(38, 172, 69);
  background: linear-gradient(184deg, rgb(38, 172, 69) 0%, rgb(38, 172, 69) 50%, rgb(38, 172, 69) 100%);
  text-align: center;
  font-size: 2rem;
}

.card {
  background-color: #d9d3d5;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  border: 3px solid #0a100d;
  box-shadow: 0 7px 8px 0px rgb(0, 0, 0);
  transition: 0.2s;
  gap: 1rem;
  /* quienSoy */
}
.card .main-product {
  background-color: rgb(126, 176, 155);
  padding: 3rem;
}
.card .contenedor3 {
  background-color: #519e8a;
}
.card .contenedor3-junior-titulo {
  text-align: center;
  font-family: sans-serif;
  font-size: 6rem;
  background-size: 4rem;
}
.card .contenedor3-junior-titulo-img-p {
  background-color: #519e8a;
  display: flex;
  flex-direction: row;
}
.card .imagen-D {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 15px 25px rgb(0, 0, 0);
}
.card .parraf {
  background-color: rgb(126, 176, 155);
  font-size: 2rem;
  border: 2px solid #0a100d;
  border-radius: 1rem;
  box-shadow: 0px 15px 25px rgb(0, 0, 0);
}

.container-contacto {
  background-image: url(../img/Bosque.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  font-family: monospace;
}
.container-contacto form {
  width: 450px;
  margin: auto;
  background: #0a100d;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin-top: 2rem;
  border-radius: 7px;
}
.container-contacto .h2-contacto {
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.container-contacto input,
.container-contacto textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
}
.container-contacto textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.container-contacto #boton {
  background-color: #31384a;
  color: #ffffff;
  padding: 20px;
}
.container-contacto #boton:hover {
  cursor: pointer;
}
@media (max-widht: 480px) {
  .container-contacto form {
    width: 100%;
  }
}

/*------------------------------------------------------- footer---------------------------------------------------------------- */
footer {
  width: 100%;
  padding: 10px 0px;
  background-size: cover;
  background: rgb(38, 172, 69);
  background: linear-gradient(184deg, rgb(38, 172, 69) 0%, rgb(16, 73, 29) 50%, rgb(1, 6, 2) 100%);
}
footer .contenedorf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}
footer .box__f {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-decoration: none;
}
footer .box__f hover {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}
footer .box__f .logo img {
  width: 100px;
}
footer .box__f .termino {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #0a100d;
  font-size: 18px;
}
footer .box__f h4 {
  margin-bottom: 30px;
  color: #0a100d;
  font-weight: 700;
}
footer .box__f a {
  margin-top: 10px;
  color: #0a100d;
  font-weight: 600;
}
footer .box__f a:hover {
  opacity: 0.8;
}
footer .box__f a .fab {
  font-size: 20px;
}
footer .box__f a .facebook:hover {
  background: #3b5998;
}
footer .derechodeautor {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0pc 40px;
}
footer .derechodeautor p {
  margin-top: 20px;
  color: #0a100d;
}
footer .derechodeautor hr {
  border: none;
  height: 1px;
  background-color: #0a100d;
}
footer .box__f .redS ul li a {
  display: block;
  padding: 0 10px;
  background: #0a100d;
  color: #ffffff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: rgb(0, 0, 0);
  transition: 0.2s;
}
footer .redS ul li {
  margin: 0 5px;
  width: 50px;
  height: 50px;
}
footer .redS ul:hover a {
  filter: blur(2px);
}
footer .redS ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgb(0, 0, 0);
  filter: none;
}
footer .redS ul li .Facebook:hover {
  background: #3b5998;
}
footer .redS ul li .Instagram:hover {
  background: #e4405f;
}
footer .redS ul li .Twitter:hover {
  background: #00acee;
}
footer .redS ul li .WhatSapp:hover {
  background: #25d366;
}

.contenedor3 {
  background-image: url(..//../img/Bosque.jpg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.contenedor3-junior-titulo {
  color: #155731;
  font-size: 100px;
  margin-bottom: 20px;
  text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.contenedor3-junior-titulo-img-p {
  display: flex;
  width: 100%;
  max-width: 800px;
  text-shadow: 6px 8px 10px rgba(0, 0, 0, 0.5);
  margin-left: 8rem;
}
.contenedor3-junior-titulo-img-p:hover {
  transform: scale(1.1);
  transition: 5s;
}

.imagen-d {
  max-width: 45%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #070707;
}

.parraf {
  max-width: 45%;
  padding: 15px;
  border: 1px solid #0a0a0a;
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
  margin-left: 200px;
}

.parraf:hover {
  transform: scale(1.5);
  transition: 5s;
}/*# sourceMappingURL=main.css.map */