*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
header{
    background-color: rgb(10,16,13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.menu{
    display: flex;
    gap: 1rem;
}
.menu-item {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.logo-nav{
  
  width: 8rem;
  border-radius: 1rem;
box-shadow: 0px 15px 25px rgb(255, 255, 255);
}

.section{
  background-color: rgb(81,158,138);
  color: white;
  display: flex;
  padding: 7rem;
  gap: 10rem;
  align-items: center;
} 
.section-izq{

}
.section-titulo{
  font-size: 2rem;

}
.section-texto{
  margin-top: 1rem;

}
.section-boton{
  display: inline-block;
  margin-top: 1rem;
  color: white;
  border: 1px solid white;
  padding: .5rem 1rem;
  border-radius: 10rem;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.section-img{
  width: 50rem;
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);

}
.continer-pri{
  background-color: rgb(126,176,155) ;
  text-align: center;
  
  padding: 4rem;


}
.carrusel-p{
  display: flex;
  align-items: center;
  justify-content: center;
}
#carouselExampleCaptions{
  
  width: 40rem;
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  
}
/*------------------------------------------------------- footer---------------------------------------------------------------- */
footer {
    width: 100%;
    padding: 10px 0px;
    background-size: cover;
    background-color: rgb(217,211,213);
  }
  
  .contenedorf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
  }
  
  .box__f {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  .box__f .logo img {
    width: 100px;
  }
  
  .box__f .termino {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #060606;
    font-size: 18px;
  }
  
  .box__f h4 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
  }
  
  .box__f a {
    margin-top: 10px;
    color: #000000;
    font-weight: 600;
  }
  
  .box__f a:hover {
    opacity: 0.8;
  }
  
  .box__f a .fab {
    font-size: 20px;
  }
  
  .box__f a .facebook:hover {
    background: #3b5998;
  }
  
  .derechodeautor {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0pc 40px;
  }
  
  .derechodeautor p {
    margin-top: 20px;
    color: #998d6e;
  }
  
  .derechodeautor hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
  }
  
  .box__f .redS ul li a {
    display: block;
    padding: 0 10px;
    background: #454028;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  
  .redS ul li {
    margin: 0 5px;
    width: 50px;
    height: 50px;
  }
  
  .redS ul:hover a {
    filter: blur(2px);
  }
  
  .redS ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
  }
  
  .redS ul li .Facebook:hover {
    background: #3b5998;
  }
  
  .redS ul li .Instagram:hover {
    background: #e4405f;
  }
  
  .redS ul li .Twitter:hover {
    background: #00acee;
  }
  
  .redS ul li .WhatSapp:hover {
    background: #25d366;
  }
  