header {
    background-color: $colornegro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    @media(max-widht: 688px) {
        header {
            display: flex;
            flex-direction: column;
        }

    }

    .menu {
        display: flex;
        gap: 1rem;
    }

    .menu-item {
        text-decoration: none;
        color:$colorblanco;
        font-size: 1.5rem;
    }

    .logo-nav {

        width: 8rem;
        border-radius: 1rem;
        box-shadow: 0px 15px 25px $colorblanco;
    }

    @media(max-width:1000px) {
        .menu {
            display: flex;
            flex-direction: column;
            font-size: 10rem;
        }
    }

}