/* Variables */
$colornegro:#0a100d;
$colorsombra:rgba(0, 0, 0, 50);
$colorblanco: #ffffff;
$colorverde1: #519e8a;
$colorverde2: rgb(126, 176, 155);
$colorfooter: #d9d3d5;
$colorwhatsap:#25d366;
$colorinsta:#e4405f;
$colortwiter:#00acee;
$colorface:#3b5998;
$colorenviar:#31384a;